# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
AGENTS.md
CLAUDE.md

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
prisma/*.db
prisma/*.db-journal
prisma/dev.db

# test / coverage
coverage
playwright-report
test-results
blob-report

# misc
.DS_Store
*.pem
*.log
.vercel
.next-env.d.ts
tsconfig.tsbuildinfo
